.button {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;

  &--up {
    display: none;

    @media (max-width: $tablet-width) {
      position: fixed;
      width: 58px;
      height: 58px;
      border: 1px solid #d36f00;
      border-radius: 50%;
      @include flex-center;
      color: #d36f00;
      @include font($montserrat, 10px, 12px, 500, normal);
      background-color: rgba(211, 111, 0, 0.2);

      &::before {
        content: "";
        position: absolute;
        width: 68px;
        height: 68px;
        border: 1px solid #d36f00;
        border-radius: 50%;
      }

      &-show {
        display: flex;
        bottom: 145px;
        right: 30px;

        @media (max-width: $mobile-width) {
          bottom: 80px;
        }
      }
    }
  }

  &--menu-slider {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      border: 1px solid $soft-yellow;
      background-color: transparent;
      border-radius: 50%;
      top: 56%;
    }

    @media (min-width: $min-width) and (max-width: 374px) {
      width: 23px;
      height: 23px;
    }
  }

  &--menu-slider-next,
  &--menu-slider-prev {

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      top: 8.5px;

      @media (min-width: $min-width) and (max-width: 374px) {
        top: 7px;
      }
    }
  }

  &--menu-slider-next {
    right: calc((100% - 341px) / 2);

    &::before {
      border-width: 7px 0 7px 7px;
      border-color: transparent transparent transparent $soft-yellow;
      right: 10px;
    }

    @media (min-width: $min-width) and (max-width: 374px) {
      right: calc((100% - 313px) / 2);

      &::before {
        border-width: 4px 0 4px 4px;
        right: 7.5px;
      }
    }
  }

  &--menu-slider-prev {
    left: calc((100% - 341px) / 2);

    &::before {
      border-width: 7px 7px 7px 0;
      border-color: transparent $soft-yellow transparent transparent;
      left: 10px;
    }

    @media (min-width: $min-width) and (max-width: 374px) {
      left: calc((100% - 313px) / 2);

      &::before {
        border-width: 4px 4px 4px 0;
        left: 7.5px;
      }
    }
  }

  &--close {
    position: absolute;
    right: 120px;
    top: 0;

    @media (max-width: $tablet-width) {
      right: 30px;
      top: 15px;
      z-index: 55;

      path {
        fill: $btn-orange-hover;
      }
    }

    &:hover,
    &:focus-visible {

      path {
        transition: $trans--300;
        fill: $btn-orange-hover;
      }
    }
  }

  &--closed {
    transition: $trans--300;
    z-index: 55;
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    top: 20%;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      border-radius: 4px;
      background-color: $soft-yellow
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }

  &--burger {
    display: none;

    @media (max-width: $tablet-width) {
      background-image: url("../img/burger.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: 12px;
      top: 35%;
      display: flex;
      width: 52px;
      min-height: 20px;
      z-index: 55;

      // &::before,
      // & span::after,
      // & span::before {
      //   position: absolute;
      //   content: "";
      //   width: 100%;
      //   height: 5px;
      //   border-radius: 5px;
      //   background-color: $dark-green;
      // }

      // & span::after {
      //   top: 7px;
      // }

      // & span::before {
      //   top: 14px;
      // }
    }

    @media (max-width: $mobile-width) {
      width: 31px;
      background-image: url("../img/burger-small.svg");
      top: 25%;
    }
  }

  &--nojs {
    display: none;
  }

  &--green,
  &--orange {
    max-width: 328px;
    width: 100%;
    min-height: 72px;
    border-radius: $btn-radius;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.55);
    @include flex-center;

    color: $main-white;
    @include font($montserrat, 16px, 20px, 800, normal);

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 17px);
      width: calc(100% - 60px);
      min-height: 60px;
    }
  }

  &--green {
    background-color: $dark-green;
    margin-left: 5px;

    @media (max-width: $mobile-width) {
      margin-left: 29px;
    }

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      background-color: $btn-green-hover;
    }

    &:active {
      color: #2a3212;
    }
  }

  &--orange {
    background-color: $strong-orange;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      background-color: $btn-orange-hover;
    }

    &:active {
      color: #6d3d07;
    }
  }

  &--slider {
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    border-style: solid;

    @media (min-width: $desktop-width) {

      &:hover,
      &:focus-visible {
        transition: $trans--300;
        transform: scale(1.3);
      }
    }


  }

  &--slider-next,
  &--slider-prev {
    top: 182px;

    @media (max-width: $tablet-width) {
      top: 161px;
    }

    @media (max-width: $mobile-width) {
      top: 152px;

      &::before {
        position: absolute;
        content: "";
        width: 32px;
        height: 32px;
        border: 1px solid $soft-yellow;
        border-radius: 50%;
        top: -17px;
      }
    }
  }

  &--slider-prev {
    border-width: 12px 12px 12px 0;
    border-color: transparent $soft-yellow transparent transparent;
    left: calc((100% - 873px) / 2);

    @media (max-width: $tablet-width) {
      left: calc((100% - 621px) / 2);
    }

    @media (max-width: $mobile-width) {
      border-width: 5px 5px 5px 0;
      left: calc((100% - 314px) / 2);

      &::before {
        left: -12px;
      }
    }

    @media (min-width: $min-width) and (max-width: 374px) {
      left: calc((100% - 285px) / 2);
    }
  }

  &--slider-next {
    border-width: 12px 0 12px 12px;
    border-color: transparent transparent transparent $soft-yellow;
    right: calc((100% - 873px) / 2);

    @media (max-width: $tablet-width) {
      right: calc((100% - 621px) / 2);
    }

    @media (max-width: $mobile-width) {
      border-width: 5px 0 5px 5px;
      right: calc((100% - 314px) / 2);

      &::before {
        right: -12px;
      }
    }

    @media (min-width: $min-width) and (max-width: 374px) {
      right: calc((100% - 285px) / 2);
    }
  }
}
