.header-menu {
  width: 100%;
  position: relative;
  min-height: 159px;
  overflow: hidden;

  @media (max-width: $mobile-width) {
    min-height: 111px;
  }

  h1 {
    @include font($montserrat, 40px, 49px, 900, normal);
    color: $color-txt;
    margin: 0;
    text-align: center;
    padding-top: 114px;
    padding-bottom: 66px;

    @media (max-width: $tablet-width) {
      @include resize-txt(36px, 44px);
      padding-bottom: 60px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(27px, 33px);
      padding-top: 85px;
      padding-bottom: 29px;
    }
  }

  &::before {

    @supports not (content: url("../img/menu/vegetables-menu-page.webp")) {
      content: url("../img/menu/vegetables-menu-page.png");
    }

    content: url("../img/menu/vegetables-menu-page.webp");
    position: absolute;
    left: 50%;
    transform: translateX(-49%);

    @media (max-width: $tablet-width) {
      top: 62px;
    }

    @media (max-width: $mobile-width) {

      @supports not (content: url("../img/menu/vegetables-menu-page-mobile.webp")) {
        content: url("../img/menu/vegetables-menu-page-mobile.png");
      }

      content: url("../img/menu/vegetables-menu-page.webp");
      top: 21px;
      transform: translateX(-51%);
    }
  }
}

.header-menu__wrapper {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
  }
}
