.intro {
  min-height: 455px;
  position: relative;

  @media (max-width: $mobile-width) {
    min-height: 460px;
  }

  p {
    margin: 0;
    color: $color-txt;
    @include font($montserrat, 16px, 20px, 400, normal);
    width: 486px;
    padding-bottom: 44px;
    padding-left: 5px;

    @media (max-width: $tablet-width) {
      width: 403px;
      padding-bottom: 50px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 17px);
      max-width: 486px;
      width: 100%;
      padding-right: 153px;
      padding-left: 0;
      padding-bottom: 75px;
    }
  }

  img {
    margin-bottom: 47px;
  }

  &::before {

    @supports not (content: url("../img/barbecue.webp")) {
      content: url("../img/barbecue.png");
    }

    content: url("../img/barbecue.webp");
    width: 708px;
    height: 671px;
    position: absolute;
    top: -198px;
    right: -51px;

    @media (max-width: $tablet-width) {

      @supports not (content: url("../img/barbecue-tab.webp")) {
        content: url("../img/barbecue-tab.png");
      }

      content: url("../img/barbecue-tab.webp");
      width: 542px;
      height: 514px;
      top: -123px;
      right: -115px;
    }

    @media (max-width: $mobile-width) {
      @supports not (content: url("../img/barbecue-mobile.webp")) {
        content: url("../img/barbecue-mobile.png");
      }

      content: url("../img/barbecue-mobile.webp");
      width: 229px;
      height: 208px;
      top: 54px;
      right: -19px;
    }
  }
}

.intro__wrapper {
  margin-top: 141px;

  @media (max-width: $tablet-width) {
    margin-top: 67px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 46px;
  }
}

.intro__text-gradient {
  @include font($montserrat, 49px, 58px, 900, normal);
  text-transform: uppercase;
  background: linear-gradient(90deg, #e5b50a 0%, #5b9d09 100%);
  background-clip: text;
  color: transparent;
  width: calc(100% - 493px);
  margin: 0;
  padding-bottom: 36px;

  @media (max-width: $tablet-width) {
    width: calc(100% - 282px);
    @include resize-txt(36px, 41px);
    letter-spacing: -0.5px;
  }

  @media (max-width: $mobile-width) {
    // width: calc(100% - 141px);
    width: 100%;
    @include resize-txt(26px, 32px);
    letter-spacing: -0.1px;
    padding-bottom: 55px;
  }
}
