.main {
  flex: 1 0 auto;
  overflow: hidden;
  transition: $trans--300;
  position: relative;

  &--index {

    &::before {
      position: absolute;
      content: url("../img/spots-bcg.svg");
      bottom: 0;
      left: -582px;
      right: 0;
      z-index: -2;
    }
  }
}
