.menu {
  min-height: 930px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding: 0 33px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 11px;
    min-height: 475px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 1125px;
    height: 517px;

    @supports not (background-image: url("../img/vegetables.webp")) {
      background-image: url("../img/vegetables.png")
    }

    background-image: url("../img/vegetables.webp");
    background-repeat: no-repeat;
    background-size: cover;
    left: calc((100% - 1129px) / 2);
    top: -177px;
    z-index: -1;

    @media (max-width: $tablet-width) {
      left: calc((100% - 808px) / 2);
      top: -131px;
      width: 790px;
      height: 327px;
    }

    @media (max-width: $mobile-width) {
      left: calc((100% - 468px) / 2);
      top: -71px;
      width: 430px;
      height: 198px;
    }
  }
}

.menu__wrapper {
  width: 100%;
  max-width: 1006px;
  min-height: 896px;
  margin: 210px auto 0;
  background: url("../img/bcg-menu-ornament.svg"), linear-gradient(129.41deg, #3C5A14 9.56%, #182804 88.31%);
  border-radius: $menu-radius;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.55);
  padding-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-top: 143px;
    border-radius: 100px 0px 150px;
    padding-bottom: 36px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 64px;
    min-height: 475px;
    border-radius: 100px 0;
    position: relative;
  }
}

.menu__text {
  width: 480px;
  padding-top: 71px;
  padding-left: 48px;

  @media (max-width: $tablet-width) {
    width: 486px;
    padding-top: 41px;
    padding-left: 66px;
  }

  @media (max-width: $mobile-width) {
    padding: 40px 10px 0;
    width: 100%;
    max-width: 486px;
    text-align: center;
    margin: 0 auto;
  }

  h2,
  p {
    margin: 0;
    color: $color-txt;
    padding-bottom: 18px;
  }

  h2 {
    @include font($montserrat, 48px, 59px, 900, normal);

    @media (max-width: $tablet-width) {
      @include resize-txt(36px, 44px);
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(27px, 33px);
      padding-bottom: 11px;
    }
  }

  p {
    @include font($montserrat, 16px, 20px, 400, normal);

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 17px);
    }
  }
}

.menu__inner {

  @media (max-width: $mobile-width) {
    position: relative;
    width: 262px;
    margin: 0 auto;
    overflow: hidden;
  }

  &--nojs {
    overflow: auto;

    .menu__item {

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.menu__list {
  @include reset-list;
  margin: 25px 0 0 42px;
  display: grid;
  grid-template-columns: repeat(3, 290px);
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 50px;

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 44px;
    row-gap: 16px;
    width: 569px;
    margin: 3px auto 0;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    gap: 0;
    margin-top: 12px;
  }
}

.menu__item {
  width: 290px;
  min-height: 240px;
  display: flex;
  align-items: center;
  text-align: center;

  @media (max-width: $tablet-width) {
    width: 262px;
  }

  @media (max-width: $mobile-width) {
    min-width: 262px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.18));
  }

  p {
    @include font($montserrat, 16px, 20px, 900, normal);
    color: $color-txt;
    margin: 0;
    margin-top: 20px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.8);

    @media (max-width: $mobile-width) {
      box-shadow: none;
    }
  }

  &:hover,
  &:focus-visible {
    transition: $trans--300;
    transform: scale(1.03);

    p {
      transition: $trans--300;
      color: $vivid-yellow;
    }
  }

  &:active {
    opacity: 0.7;
  }
}
