.modal {
  display: none;
  // margin: 0 auto;
  filter: drop-shadow(0 4px 20px rgba(0,0,0,.15));

  &--show {
    display: block;
    animation: bounce .6s;
    position: fixed;
    top: 5%;
    right: 0;
    bottom: 5%;
    left: 0;
    z-index: 50;
    height: auto;
    overflow-y: auto;
  }
}
