.our-interior {
  width: 942px;
  margin: 0 auto;
  padding-bottom: 233px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 0 8px 250px;
  }

  h1 {
    @include font($montserrat, 40px, 49px, 900, normal);
    color: $color-txt;
    margin: 0 auto;
    padding-bottom: 70px;
    width: 357px;
    text-align: center;

    @media (max-width: $tablet-width) {
      @include resize-txt(36px, 44px);
      padding-bottom: 26px;
      padding-top: 60px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(27px, 33px);
      padding-top: 16px;
      padding-bottom: 18px;
    }
  }
}

.our-interior__big {
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.our-interior__big-list,
.our-interior__small-list {
  @include reset-list;
  display: grid;
  gap: 30px;
  grid-template-rows: 1fr;

  @media (max-width: $tablet-width) {
    justify-content: center;
    gap: 26px;
  }
}

.our-interior__big-list {
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 361px);
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.our-interior__small-list {
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $tablet-width) {
    grid-template-columns: 231px 231px 233px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.our-interior__big-item,
.our-interior__small-item {

  img {
    width: 100%;
    object-fit: cover;

    @media (max-width: $tablet-width) {
      height: auto;
    }
  }
}

.our-interior__big-item {

  @media (max-width: $tablet-width) {

    &--1 {
      grid-area: 2/1/4/-1;
    }

    &--text {
      grid-area: 1/1/2/-1;
    }
  }

  p {
    @include font($montserrat, 16px, 21px, 400, normal);
    margin: 0;
    color: $color-txt;

    @media (max-width: $tablet-width) {
      letter-spacing: -1px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 17px);
      letter-spacing: 0;
    }

    &:not(:last-child) {
      padding-bottom: 30px;

      @media (max-width: $tablet-width) {
        padding-bottom: 20px;
      }

      @media (max-width: $mobile-width) {
        padding-bottom: 14px;
      }
    }
  }
}
