// Color

$main-black: #000000;
$main-white: #ffffff;
$lime-green: #0d1f11;
$vivid-yellow: #e5b50a;
$dark-green: #355709;
$footer-green: #233709;
$btn-green-hover: #487410;
$color-txt: #fdfcde;
$strong-orange: #d36f00;
$btn-orange-hover: #e28013;
$soft-yellow: #f3e3a9;

// Radius

$btn-radius: 30px 0 30px 30px;
$menu-radius: 150px 0px;
$feedback-radius: 50px 0px 50px 50px;

// Viewports

$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

//fonts

$montserrat: "Montserrat", "Arial", sans-serif;
//transition

$trans--300:  0.3s ease-in-out;

//retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
